@charset "utf-8";








/*main_slider*/
.main_slider{
    background:url(../images/main_img.jpg) no-repeat center center; 
    margin:0 50px center center; 
    background-size:cover; 
    height:690px; 
    position:relative;
}
.slider_text{
    color:#fff;
    font-size:25px;
    font-weight:bold; 
    text-align:center; 
    padding-top:290px;
}
.slider_text span{display:block;}

.slider_text p{font-size:14px; margin-top:20px;}

.arrow{
    background:url(../images/sp_com.png) no-repeat; 
    width:24px; 
    height:45px; 
    text-indent:-9999px; 
    position:absolute; 
    top:50%; 
    margin-top:-23px;
}
.arrow a{display:block; height:100%;}

.prev_btn{
    background-position:-129px -61px;
    left:30px;
}
.prev_btn a{}

.next_btn{
    background-position:-159px -61px; 
    right:30px;
}
.next_btn a{}


/*main_icon*/
.main_con01{
    text-align:center; 
    padding:30px 0;
}
.main_con01 ul{display:inline-block;}

.main_con01 li{
    float:left; 
    padding:0px 50px;
}
.main_con01 li a{}

.main_con01 li a span{
    width:66px; 
    height:55px; 
    display:block; 
    background-image:url(../images/sp_com.png); 
    text-indent:-9999px;
}
.main_con01 li a p{
    color:#333; 
    margin-top:15px; 
    font-size:12px;
}
.con01_icon01{background-position:-2px -117px;}
.con01_icon02{background-position:-74px -117px;}
.con01_icon03{background-position:-147px -117px;}
.con01_icon04{background-position:-218px -117px;}
.con01_icon05{background-position:-290px -117px;}
.con01_icon06{background-position:-362px -117px;}

.main_con01 li:hover .con01_icon01{background-position:-2px -183px;}
.main_con01 li:hover p{color:#2d5b79;}


/*main_con02*/
.main_con02{
    background:#dfd9d1; 
    padding:50px 0; 
    margin-bottom:50px;
}
.main_con02 .inner{position:relative;}

.main_con02 .arrow{z-index:10;}

.main_con02 .prev_btn{left:-50px;}

.main_con02 .next_btn{right:-50px;}

.con02_tit{text-align:center;}

.con02_tit h2{}
.con02_tit p{
    margin-top:10px; 
    margin-bottom:40px;
}
.con02_leftb{
    position:relative; 
    float:left;
}
.con02_leftb img{display:block;}

.con02_leftb_text{
    position:absolute; 
    top:0; 
    right:0; 
    color:#fff; 
    background:rgba(0,0,0,0.5); 
    width:240px; 
    height:100%; 
    padding:30px 15px; 
    box-sizing:border-box;
}
.con02_leftb_text h5{}

.con02_leftb_text p{
    font-size:20px; 
    margin-top:20px;
}
.con02_leftb_text .con02_leftb_textlast{font-size:13px;}

.con02_leftb_text p span{font-weight:bold;}

.more_btn{
    border:1px solid #fff; 
    font-size:14px; 
    height:40px; 
    line-height:40px; 
    text-align:center; 
    position:absolute; 
    width:210px; 
    bottom:30px;
}
.more_btn a{
    color:#fff; 
    display:block;
}
.con02_rightb{
    float:right; 
    background:#fff; 
    width:400px; 
    height:430px; 
    padding:0 20px; 
    box-sizing:border-box;
}
.con02_rightb li{margin-top:22px;}

.con02_rightb li a{color:#333;}

.con02_rightb li img{
    width:80px; 
    vertical-align:middle;
}
.list_text{
    display:inline-block; 
    vertical-align:middle; 
    margin-left:15px;
}
.list_text p{font:14px bold;}





/*main_con03*/
.main_con03{margin-bottom:20px;}

.con03{
    width:285px; 
    height:285px; 
    float:left; 
    margin-right:20px; 
    text-align:center; 
    background-size:cover;
}

.con03 a{
    color:#333; 
    display:block;
    height:100%; 
    transition:background 0.5s;
}
.con03_menu01 a,.con03_menu03 a{color:#fff;}

.con03 h3{padding-top:100px;}

.con03 p{
    margin:10px;
    display:none;
}
.con03:hover p{display:block;}

.con03:hover a{background:rgba(45,91,121,0.8)}

.con03_menu01{background-image:url(../images/mainrow3_img1.jpg);}

.con03_menu02{background-image:url(../images/mainrow3_img2.jpg);}

.con03_menu03{background-image:url(../images/mainrow3_img3.jpg);}

.con03_menu04{
    margin-right:0; 
    background:#f2f0ed; 
    padding:20px; 
    box-sizing:border-box; 
    position:relative;
}
.con03_menu04 h3{
    padding-top:0; 
    padding-bottom:20px;
}
.pdt_select,.search_btn,.con03_menu04 input{
    width:100%; 
    padding:0 15px;
    box-sizing:border-box;
    border:0; 
    height:45px;
    line-height:45px;
    font-weight:bold; 
    color:#333; 
    margin:5px 0;
}
.pdt_select{
    appearance:none; 
    -webkit-appearance:none;
    background:url(../images/arrow.png) no-repeat #fff 93% center;
}
.pdt_select::-ms-expand{display:none;}

.con03_menu04 input{}

.search_btn{
    background:#2d5b79; 
    color:#fff; 
    cursor:pointer; 
    position:absolute; 
    left:20px; 
    bottom:20px;
    width:245px;
}


/*
.pdt_select{appearance:none; -webkit-appearance:none; background:url(../images/arrow.png) no-repeat 95% center; width:240px; height:40px; background-color:#fff; color:#bbb; font-weight:bold; font-size:14px; padding: 10px; border:none; margin-top:40px; margin-bottom:20px;}


.con03_menu04 input{width:240px; height:40px; color:#bbb; padding:10px; box-sizing:border-box; border:none; font-size:14px; font-weight:bold; margin-bottom:19px;}

.search_btn{width:240px; height:40px; background:#2d5b79; color:#fff; font-weight:bold; font-size:14px; cursor:pointer; border:none;}
*/





/*main_con04*/
.main_con04{}

.con04{
    width:590px; 
    background:#f2f0ed; 
    float:left; 
    margin-right:20px;
    height:200px;
}
.con04 h2{
    text-align:center; 
    position:relative; 
    color:#2b5b79; 
    padding:15px 0; 
    border-bottom:1px solid #fff;
    box-sizing: border-box;
}

.plus{
    width:24px; 
    height:24px; 
    border-radius:50%; 
    text-indent:-9999px; 
    background:url(../images/sp_com.png) no-repeat -199px -63px #fff; 
    display:block; 
    position:absolute; 
    right:15px; 
    top:15px;
}
.notice{}
.notice li{
    width:50%; 
    float:left; 
    padding:20px; 
    box-sizing:border-box; 
    font-size:14px; 
    border-right:1px solid #fff; 
    height:138px;
}
.notice li:last-child{border-right:0;}

.notice li p{
    color:#333;
    width:100%; 
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
.notice li span{
    color:#999; 
    font-size:12px;
    margin:10px 0;
    display:block;
}
.news{margin-right:0;}

.news li{
    font-size:14px; 
    height:45px; 
    line-height:45px; 
    padding:0 20px;
    border-bottom:1px solid #fff;
}
.news li:last-child{border-bottom:0;}

.news li a{
    color:#333;
    display:block;
    position:relative;
}
.news li p{
    width:70%; 
    white-space:nowrap;
    overflow:hidden; 
    text-overflow:ellipsis;
}
.news li span{
    position:absolute;
    right:0; 
    top:0;
}





/*main_con05*/
.main_con05{
    background:url(../images//mainrow4_bg.jpg) no-repeat; 
    background-size:cover; 
    padding:50px 0;
    margin-top:50px;
}
.main_con05 ul{}

.main_con05 li{
    width:285px; 
    height:397px; 
    float:left; 
    text-align:center; 
    margin-right:20px; 
    background-size:cover;
}
.con05_menu01{background-image:url(../images/mainrow5_img1.jpg);}
.con05_menu02{background-image:url(../images/mainrow5_img2.jpg);}
.con05_menu03{background-image:url(../images/mainrow5_img3.jpg);}

.main_con05 .con05_menu04{
    margin-right:0; 
    background-image:url(../images/mainrow5_img4.jpg);
}
.main_con05 li a{
    color:#333; 
    display:block; 
    height:100%;
}
.main_con05 li h3{
    font-size:22px;
    padding-top:330px;
}
.main_con05 li p{font-size:14px;}

/*앱솔루트로띄울때 h3랑p감싸는 div 만들고 띄움, 위드100%, li에 릴레이티브, div에 바텀20px정도 주면 앱솔루트로 위치 잡을 수 있음*/



















